body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 35px;
  background-color: rgb(225, 113, 113);
  text-align: center;
  color: white;
}

img {
  border-radius: 20px;
  border: solid 3px;
  padding: 4px;
  border-color: aquamarine;
  width: 300px;
  height: 100%;
}

h1 {
  border-top: solid 5px aquamarine;
  color: white;
  padding-top: 2em;
}

p {
  border-bottom: dashed 5px aquamarine;
  padding-bottom: 3em;

}

#insta {
  background-image: url(instagram-logo.png);
  display: inline-block;
  background-size: cover;
  width: 60px;
  height: 60px;
  text-decoration: none;
}

#email {
  background-image: url(gmail.jpg);
  display: inline-block;
  background-size: cover;
  width: 60px;
  height: 60px;
  text-decoration: none;
}

/* footer {
 text-align: auto;
 animation
 animation-direction: alternate;
 animation-duration: 30s;
} */